<!DOCTYPE html>
<html>

<head>
    <title>Lessons</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">

        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>{{cartItemCount}}<span class="fas fa-shopping-cart"></span>Checkout</button>
        </header>
        <main>
            <div v-if="showProduct">

                <div>
                    <h1>Sort by</h1>
                    <p>
                        <input type="radio" name="Attributes" @click="sortTable('Subject')">
                        <label for="Subject">Subject</label>
                        <input type="radio" name="Attributes" @click="sortTable('Location')">
                        <label for="Location">Location</label>
                        <input type="radio" name="Attributes" @click="sortTable('price')">
                        <label for="Price">Price</label>
                        <input type="radio" name="Attributes" @click="sortTable('Space')">
                        <label for="Space">Space</label>
                    </p>
                    <p>
                        <input type="radio" name="fav" @click="sortTable('asc')">
                        <label for="Subject">Ascending</label>
                        <input type="radio" name="fav" @click="sortTable('desc')">
                        <label for="Location">Descscending</label>
                    </p>
                </div>

                <div style="display: flex; flex-wrap: wrap; gap: 10px">
                    <div v-for="lessons in lessons" style="border: 5px solid blue; width: 150px; background-color: lightblue">
                        <figure>
                            <img v-bind:src="lessons.image" width="100px">
                        </figure>
                        <p><b>Subject: {{lessons.Subject}}</b></p>
                        <p><strong>Location: {{lessons.Location}}</strong></p>
                        <p><b>Price: {{lessons.price}}</b></p>
                        <p><b>Space: {{lessons.Space}}</b></p>
                        <button v-on:click="addToCart(lessons)" :disabled="!canAddToCart(lessons)"><span class="fas fa-cart-plus">
                            </span>Add to Cart</button>
                        <span v-if="lessons.Space - cartCount(id) === 0">All Out!</span>
                        <span v-else-if="lessons.Space - cartCount(id) < 10">
                            Only{{lessons.Space - cartCount(id)}} left!</span>
                        <span v-else>Buy Now!</span>
                    </div>
                </div>
            </div>


            <div v-else>
                <div style="display: flex; flex-wrap: wrap; gap: 10px">
                    <div v-for="lessons in cart" style="border: 5px solid blue; width: 150px; background-color: lightblue">
                        <figure>
                            <img v-bind:src="lessons.image" width="100px">
                        </figure>
                        <p><b>Subject: {{lessons.Subject}}</b></p>
                        <p><strong>Location: {{lessons.Location}}</strong></p>
                        <p><b>Price: {{lessons.price}}</b></p>
                        <p><b>Space: {{lessons.Space}}</b></p>
                        <!-- <button @click="deleteLesson(lesson)"><span class="fas fa-cart-arrow-down"></span>Delete</button> -->
                    </div>
                </div>

                
                <h1>Checkout</h1>
                <form @submit="submit()">
                    <p>
                        <strong>First Name:</strong>
                        <input v-model="order.FirstName" title="Letters only." required />
                    </p>
                    <p>
                        <strong>Second Name:</strong>
                        <input v-model="order.SecondName" title="Letters only." required />
                    </p>
                    <p>
                        <strong>Phone Number:</strong>
                        <input v-model="order.Phonenumber" minlength="10" title="Numbers only." required />
                    </p>
                    <h2>Order Information</h2>
                    <p>Name: {{order.FirstName}}</p>
                    <p>Name: {{order.SecondName}}</p>
                    <p>Phone number: {{order.Phonenumber}}</p>
                    <button :disabled='!valid' type="submit">Checkout</button>
                </form>
            </div>
        </main>
    </div>
</body>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            sitename: "After School Lessons",
            showProduct: true,
            order: {
                FirstName: '',
                SecondName: '',
                Phonenumber: '',
            },
            lessons: [],
            cart: []
        },
        methods: {

            addToCart(lessons) {
                if ('canAddToCart(lessons') {
                    this.cart.push(lessons)
                    lessons.Space--;
                }
            },
            canAddToCart(lessons) {
                return lessons.Space;
            },

            cartCount(id) {
                let count = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                        count++;
                    }
                }
                return count;
            },

            submit() {
                if (this.cart.length > 0) {
                    window.alert("Order Submited")
                }
            },

            // deleteLesson(lessons) {
            //     var idx = this.cart.indexOf(lessons)
            //     this.cart.splice(idx, 1)
            //     lessons.Space++;
            // },


            showCheckout() {
                this.showProduct = this.showProduct ? false : true;
            },

            sortTable(key, direction) {
                this.sort = `${key} > ${direction}`
                if (direction === 'asc') {
                    this.lessons.sort((a, b) => a[key] > b[key] ? 1 : -1)
                } else {
                    this.lessons.sort((a, b) => a[key] < b[key] ? 1 : -1)
                }
            }
        },
        computed: {
            cartItemCount() {
                return this.cart.length || '';
            },
            valid: function () {
                var TxtValid = /^[a-zA-Z]+$/
                var IntValid = /^\d+$/
                if (TxtValid.test(this.order.FirstName) && TxtValid.test(this.order.SecondName)
                    && IntValid.test(this.order.Phonenumber) && (this.cart.length > 0)) {
                    return true;
                }
            },
        },
        created: function () {
            console.log("requesting data from server...");

            fetch('https://coursework2-lession.herokuapp.com/').then(res => res.text())
                .then(txt => console.log('server message: ', txt)
                )

            fetch("https://coursework2-lession.herokuapp.com/collection/lesson").then(
                function (res) {
                    res.json().then(
                        function (json) {
                            app.lessons = json;
                        }
                    )
                }
            )
        }
    });
</script>

</html>